<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2153</string>
	<key>CodePushDeploymentKey</key>
	<string>deployment-key-here</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>37e30e1176166183b2bcee08b1b059545de8e9d4</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Explaination here</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Yojee needs to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Yojee needs to access camera for driver upload picture profile</string>
	<key>NSContactsUsageDescription</key>
	<string>Yojee needs to access contacts to function properly</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location will be shown on the map to customers to provide them with real-time updates about estimated delivery time and job status</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Yojee needs to access your location for checking and sending to you information about your job</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Yojee needs to access photo library for saving the captured images</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Yojee needs to access your photo for driver upload picture profile</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Explaination here</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
